h3 {
  font-size: 18px;
  color: #4d6d8e;
  border-bottom: 1px dotted #858585;
  padding: 4px;
  margin: 0;
  width: 350px;
}

p {
  font-size: 12px;
  color: #424344;
}

a {
  color: #0a3968;
  font-weight: bold;
}

#grid {
display: grid;
grid-template-columns: 1fr 1fr;
}

#grid #log{
  padding-left:25px;
}

#grid #bookmark{
  padding-left:25px;
}

@media(max-width:777px){
  #grid{
    display: block;
  }
}
