h3 {
  font-size: 18px;
  color: #4d6d8e;
  border-bottom: 1px dotted #858585;
  padding: 4px;
  margin: 0;
  width: 350px;
}

p {
  font-size: 12px;
  color: #424344;
}

a {
  color: #0a3968;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

#grid {
display: grid;
grid-template-columns: 1fr 1fr;
}

#grid #log{
  padding-left:25px;
}

#grid #bookmark{
  padding-left:25px;
}

@media(max-width:777px){
  #grid{
    display: block;
  }
}

/* fullscreen css */

.grid:-webkit-full-screen {
  background-color: #e4708a;
  width: 100vw;
  height: 100vh;
}

.grid:-webkit-full-screen p {
  visibility: visible;
}

.grid:-moz-full-screen {
  background-color: #e4708a;
  width: 100vw;
  height: 100vh;
}

.grid:-moz-full-screen p {
  visibility: visible;
}

.grid:-ms-fullscreen {
  background-color: #e4708a;
  width: 100vw;
  height: 100vh;
}

.grid:-ms-fullscreen p {
  visibility: visible;
}

.grid:fullscreen {
  background-color: #e4708a;
  width: 100vw;
  height: 100vh;
}

.grid:fullscreen p {
  visibility: visible;
}
